.selectedpanelbody
{
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  height:100%;
  display:block;
}
.selectedpanelbody:hover,
.selectedpanelbody:focus,
.selectedpanelbody.focus
{
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
  height:100%;
  display:block;
}

.scorefontHeader {  font-size: 20px;}
.scorefontBody {  
    font-size: 18px;
    text-align:center;
}
.scorefontBodyId {  
    font-size: 18px; color:gray;
    text-align:center;
}

.fixed{
    position:fixed;
    top:0px;
    height:100px;
    background:white;
}

/* responsive text queries */
@media screen and (max-width: 992px) {
  h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  }
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
}

@media screen and (max-width: 450px) {
  h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 18px;  
  }
  h2 {
    font-size: 16px;  
  }
  h3 {
    font-size: 14px;  
  }
}