<div class="h1">Kinger</div>

<div class="panel panel-default">
    <div class="panel-heading">Spelers</div>
    <div class="panel-body" data-ng-repeat="player in players">
        <button class="btn btn-default input-block-level form-control" ng-click="selectPlayer(player)" ng-class="{true :'btn btn-primary input-block-level form-control', false : 'btn btn-default input-block-level form-control' }[isSelected(player)]">
            <div ng-if="player.number != 0" class="label label-info">{{player.number}}</div>
            {{player.text}}
        </button>
    </div>
</div>

<div class="panel panel-default" ng-show="fourPlayersSelected">
    <div class="panel-heading">Spel</div>
    <div class="panel-body">
        <row>
            <div class="col-lg-2"><span class="label label-success" style="font-size:large">Dubbele king?</span></div><div class="col-lg-2"><input type="checkbox" ng-model="kingerFull" bootstrap-switch /></div>
            <div class="col-lg-8"><input class="btn btn-success input-block-level form-control" type="submit" value="Start" ng-click="startGame()"></div>
        </row>
    </div>
</div>
