<div class="h1">Wiezer</div>

<div class="panel panel-default">
    <div class="panel-heading">Spelers</div>
    <div class="panel-body" data-ng-repeat="player in players" >
        <div player-button="player" on-click="selectPlayer(player)"></div>
    </div>
</div>

<div class="panel panel-default" ng-show="fourPlayersSelected">
    <div class="panel-heading">Spel</div>
    <div class="panel-body">
        <input class="btn btn-success input-block-level form-control" type="submit" value="Start" ng-click="startGame()">
    </div>
</div>

